@model User_Management.Areas.User.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "_LayoutSecondary";
}

<div class="page page-center">
    <div class="container-tight py-4">
        <div class="text-center mb-4">
            <a href="#">
                <img src="~/static/logo.svg" height="36" alt="">
            </a>
        </div>
        <form class="card card-md" asp-action="Register" method="POST">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Register</h2>
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.Email">Email Address</label>
                    <input type="email" asp-for="@Model.Email" class="form-control"/>
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.Password">Password</label>
                    <div class="input-group input-group-flat">
                        <input type="password" asp-for="@Model.Password" class="form-control"/>
                        <span class="input-group-text">
                            <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip" id="togglePasswordVisibility">
                                <!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="2"/><path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7"/>
                                </svg>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.ConfirmPassword"> Confirm Password</label>
                    <input type="password" asp-for="@Model.ConfirmPassword" class="form-control"/>
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">Register</button>
                </div>
            </div>
        </form>
        <div class="text-center text-muted mt-3">
            Already have account? <a asp-action="Login" tabindex="-1">Sign in</a>
        </div>
    </div>
</div>

@section Scripts
{
      <script >
      let passwordVisibility = document.getElementById("togglePasswordVisibility");
      let targetElement = document.getElementById("Password");
      passwordVisibility.addEventListener("click",function(event){
        event.preventDefault();
        let attribute = targetElement.getAttribute("type");
        if(attribute === "password"){
          targetElement.setAttribute("type","text");
        }else{
          targetElement.setAttribute("type","password");
        }
      });
    </script>
}
